.reservation-card {
  color: teal;
  background-color: white;
  width: 14rem;
  height: auto;
  border: .25rem solid teal;
  border-radius: .5rem;
  margin: 1rem;
  }

  h2 {
    font-weight: 600;
  }

  h3 {
    font-weight: 400;
  }

  button {
    color: white;
    background-color: teal;
    width: 10vw;
    border: .25rem solid teal;
    margin: .5rem;
  }